{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/services.css' %}">
{% endblock %}

{% block content %}

<!-- HERO -->

<section class="service-hero">

    <span class="badge">
        What I Offer
    </span>

    <h1>
        Professional Services
    </h1>

    <p>
        Delivering modern, scalable and responsive
        web solutions using Python and Django.
    </p>

</section>

<!-- SERVICES -->

<section class="services-section">

    <div class="services-grid">

        {% for service in services %}

        <div class="service-card">

            <div class="service-icon">
                {{ service.icon }}
            </div>

            <h3>
                {{ service.title }}
            </h3>

            <p class="short-desc">
                {{ service.short_description }}
            </p>

            <p>
                {{ service.description }}
            </p>

        </div>

        {% endfor %}

    </div>

</section>

<!-- PROCESS -->

<section class="process-section">

    <h2>
        My Working Process
    </h2>

    <div class="process-grid">

        <div class="process-card">
            <span>01</span>
            <h3>Requirement Analysis</h3>
            <p>
                Understanding project goals and requirements.
            </p>
        </div>

        <div class="process-card">
            <span>02</span>
            <h3>Design & Planning</h3>
            <p>
                Creating structure and user-friendly layouts.
            </p>
        </div>

        <div class="process-card">
            <span>03</span>
            <h3>Development</h3>
            <p>
                Building responsive frontend and backend.
            </p>
        </div>

        <div class="process-card">
            <span>04</span>
            <h3>Testing & Delivery</h3>
            <p>
                Quality assurance and final deployment.
            </p>
        </div>

    </div>

</section>

{% endblock %}